<div>
	<% f.inputs do %>
		<%= f.input :id, :as => :select, :collection => Role.all, :label_method => :role %>
	<% end %>
	<li>
		<%= label_tag '' %>
		<%= link_to_remove_association "remove role", f %>
	</li>
</div>

