<h1>Contributor</h1>

<h2><%= "#{@contributor.first_name} #{@contributor.last_name}" %></h2>

<table>
	<tr>
		<th>Title</th>
		<th>Issue</th>
	</tr>
	<% unless @contributor.comic_books.empty? %>
		<%= render @contributor.comic_books %>
	<% end %>

</table>

<%= link_to "Edit contributor", edit_contributor_path(@contributor) %>
<br />
<%= link_to "<<Back to list of contributors", contributors_path %>
